
p{
    text-align: center;
    color: white;
    text-transform: capitalize;
    text-decoration-style: solid;
    text-decoration-color: black;
   
    text-shadow: 200px;
    text-transform: uppercase;
    
    
}


#image{

    background-image: url(i.1.jpg);
    background-attachment: fixed;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    border-radius: 10px;
    
}

p{

    padding: 100px;
    margin: 100px;
}

