body{

    background-image: url(i.1.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: contain;
    background-clip: padding-box;
    align-items: center;
    padding: 100px;
    margin: 100px;
    text-align: center;
    border-image: round;
    background-size: contain;
    background-size: cover; 
    border-radius: 30px;
}
form{

    color: white;
}
 button{

    color: aqua;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(60, 15, 243);
    text-transform: capitalize;

}
label{

    text-decoration: solid;
    text-transform: capitalize;
    text-overflow: ellipsis;
    text-shadow: 2px;
    text-indent: 2px;
    text-rendering: optimizeLegibility;
    text-decoration-style: dotted;
    
}
input{

    color:black;
    border: 20px;
    border-radius: 15px;
    box-sizing: content-box;
    border-color: black;
    padding: 8px;
    align-items: center;
    text-align: center;

}
p 
{
   color: blueviolet;
   padding: 20px;
   margin: 50px;
   text-align: left;
   text-decoration: double;
   text-rendering: unset;
   text-decoration: underline;


    
}
